/* general css */
:root{
    /* color */
    --white-color: #fff;
    --black-color: #000;
    --bg-different-color: #faa51b;
    --different-color: #ffdc8a;
    --main-color:  rgba(35, 38, 51, 1);
}
body{
    font-family: "Roboto", sans-serif; /* regular font */
}
section{
    padding: 50px 0;
}
.font-spec{
    font-family: "Josefin Sans", sans-serif;
}
.font-spec-tlt{
    font-family: "Dancing Script", cursive;
}
.f-heading-lg{
    font-size: 50px;
}
.f-heading-md{
    font-size: 45px;
}
.f-heading-sm{
    font-size: 40px;
}
.f-text-lg{
    font-size: 35px;
}
.f-text-md{
    font-size: 30px;
}
.f-text-sm{
    font-size: 25px;
}
.f-text-xsm{
    font-size: 20px;
}
.f-text-xxsm{
    font-size: 18px;
}
.f-text-xxxsm{
    font-size: 15px;
}
.f-text-vsm{
    font-size: 12px;
}
.diff-color{
    color: var(--bg-different-color);
}
.bg-diff-color{
    color: var(--bg-different-color);
}
.booking{
    padding: 5px 15px;
    background-color: var(--bg-different-color);
    border-radius: 1px;
    border: 1px solid var(--bg-different-color);
    color: var(--different-color);
}
.booking:hover{
    background-color: transparent;
    border: 1px solid var(--bg-different-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* private css */
/* start header */
/* header >> header body */
.header{
    background-image: url(../assests/images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.header::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 38, 51, 0.9);
}
/* header >> nav */
.header .links a{
    position: relative;
    overflow: hidden;
    color: var(--white-color);
    transition: 0.5s;
}
.header .links a::before{
    position: absolute;
    content: "";
    top: 22px;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: var(--bg-different-color);
    height: 2px;
    transition: 0.5s;
}
.header .links a:hover::before{
    left: 0;
}
.header .links a:hover{
    color: var(--bg-different-color);
}
/* header >> content >> text */
.header .content .text{
    position: relative;
    z-index: 1;
}
/* header >> content >> image */
.header .content .image img{
    position: relative;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* end header */

/* start arrow */
a.arrow{
    background-color: var(--bg-different-color);
    padding: 10px 15px;
    right: 25px;
    bottom: 25px;
}
a.arrow:hover{
    background-color: transparent;
    border: 1px solid var(--bg-different-color);
}
/* end arrow */

/* start service */
/* start service >> service-item */
.service .service-item .serv:hover{ 
    background-color: var(--bg-different-color);
    color: var(--white-color);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}
.service .service-item .serv svg{
    color: var(--bg-different-color);
}
.service .service-item .serv:hover svg{ 
    color: var(--white-color);
}
/* end service */

/* start about */
/* about >> about-gallery */
.about .about-gallery{
    display: grid;
    grid-template-areas: 
        "item1 .."
        "item1 item2"
        "item3 item4"
        ".. item4"
    ;
    height: 100vh;
    gap: 10px;
}
.about .about-gallery div{
    background-position: cover;
    background-position: center;
}
.about .about-gallery .item1{
    background-image: url('../assests/images/restoran-2.jpg');
    grid-area: item1;
}
.about .about-gallery .item2{
    background-image: url('../assests/images/restoran-3.jpg');
    grid-area: item2;
    margin: 0 0 10px 0;
}
.about .about-gallery .item3{
    background-image: url('../assests/images/restoran-4.jpg');
    grid-area: item3;
    margin: 10px 0 0 0;
}
.about .about-gallery .item4{
    background-image: url('../assests/images/restoran-5.jpg');
    grid-area: item4;
}
/* about >> about-text */
/* about >> about-text >> top */
.about .about-text .top h6{
    position: relative;
    overflow: hidden;
}
.about .about-text .top h6::before{
    position: absolute;
    content: "";
    top: 10px;
    left: 70px;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    background-color: var(--bg-different-color);
}
/* about >> about-text >> down */
.about .about-text .down h1{
    position: relative;
    overflow: hidden;
    color: var(--bg-different-color);
    padding: 0 20px 0 18px;
}
.about .about-text .down h1::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 5px;
    background-color: var(--bg-different-color);
}
/* end about */

/* start popular */
.popular h6:first-child{
    position: relative;
    overflow: hidden;
    background-color: var(--white-color);
}
.popular h6:first-child::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 125px;
    bottom: 0;
    height: 2px;
    width: 30px;
    margin: auto;
    z-index: 1;
    background-color: var(--bg-different-color);
}
.popular h6:first-child::after{
    position: absolute;
    content: "";
    top: 0;
    left: 125px;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    margin: auto;
    z-index: 1;
    background-color: var(--bg-different-color);
}
/* popular >> navitem */
.popular li.navitem .nav-link{
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
}
.popular li.navitem .nav-link:active,
.popular li.navitem .nav-link:focus,
.popular li.navitem .nav-link:hover{
    box-shadow: 0 1px 0 0 var(--bg-different-color);
}
/* popular >> side */
.popular .side .img-small{
    width: 50px;
    height: 50px;
}
.popular .side span{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* popular >> tabs */
.popular .tabs {
    position: relative;   
    margin: 0 auto;
}
.tab label {
	position: relative;
    padding: 0 40px;
	top: 0;
	cursor: pointer;
	color: #333;
    text-transform: uppercase;
}
.tab [type=radio] {
	display: none;   
}
.tab__content {
    position: relative;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
	opacity: 0;
}
[type=radio]:checked ~ label {
	border-bottom: 2px solid var(--bg-different-color);
	z-index: 2;
}
[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}
/* end popular */

/* start footer */
.footer{
    background-color: var(--main-color);
    padding: 12px 0 0 0;
}
.footer .links a{
    color: var(--white-color);
    transition: 0.5s;
}
.footer .links a:hover{
    color: var(--bg-different-color);
}
/* end footer */
