/* general css */
:root{
    /* color */
    --white-color: #fff;
    --black-color: #000;
    --bg-different-color: #faa51b;
    --different-color: #ffdc8a;
    --main-color:  rgba(35, 38, 51, 1);
}
body{
    font-family: "Roboto", sans-serif; /* regular font */
}
section{
    padding: 50px 0;
}
.font-spec{
    font-family: "Josefin Sans", sans-serif;
}
.f-heading-lg{
    font-size: 50px;
}
.f-heading-md{
    font-size: 45px;
}
.f-heading-sm{
    font-size: 40px;
}
.f-text-lg{
    font-size: 35px;
}
.f-text-md{
    font-size: 30px;
}
.f-text-sm{
    font-size: 25px;
}
.f-text-xsm{
    font-size: 20px;
}
.f-text-xxsm{
    font-size: 18px;
}
.f-text-xxxsm{
    font-size: 15px;
}
.f-text-vsm{
    font-size: 12px;
}
.diff-color{
    color: var(--bg-different-color);
}
.bg-diff-color{
    color: var(--bg-different-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* private css */
/* start header */
/* header >> header body */
.header{
    background-image: url(../assests/images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.header::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 38, 51, 0.9);
}
/* header >> nav */
.header .links a{
    position: relative;
    overflow: hidden;
    color: var(--white-color);
    transition: 0.5s;
}
.header .links a::before{
    position: absolute;
    content: "";
    top: 22px;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: var(--bg-different-color);
    height: 2px;
    transition: 0.5s;
}
.header .links a:hover::before{
    left: 0;
}
.header .links a:hover{
    color: var(--bg-different-color);
}
.header .booking{
    padding: 5px 15px;
    background-color: var(--bg-different-color);
    border-radius: 1px;
    color: var(--different-color);
}
.header .booking:hover{
    background-color: transparent;
    border: 1px solid var(--bg-different-color);
}
/* header >> content >> text */
.header .content .text{
    position: relative;
    z-index: 1;
}
/* header >> content >> image */
.header .content .image img{
    position: relative;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* end header */

/* start arrow */
a.arrow{
    background-color: var(--bg-different-color);
    padding: 10px 15px;
    right: 25px;
    bottom: 25px;
}
a.arrow:hover{
    background-color: transparent;
    border: 1px solid var(--bg-different-color);
}
/* end arrow */

/* start footer */
.footer{
    background-color: var(--main-color);
    padding: 12px 0 0 0;
}
.footer .links a{
    color: var(--white-color);
    transition: 0.5s;
}
.footer .links a:hover{
    color: var(--bg-different-color);
}
/* end footer */
